navBar img {
    height: 80px;
    margin-left: 40px;
}
navBar {
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 9%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 0 gray;
}
navBar * {
    display: inline;
}

navBar li {
    margin: 20px;
    border-style: solid;
    border-bottom: black;

}

navBar li a {
    color: black;
    text-decoration: none;

}
navBar li a:hover{
    opacity: 0.7;

}